<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="arboretum.arboretumwojslawice">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--android:name=".Commons.di.AppController"-->
    <!--android:name="android.support.multidex.MultiDexApplication"-->

    <application
        android:name=".Commons.di.AppController"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".View.activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.activities.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".View.activities.LanguageActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".View.activities.RouteDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".View.activities.QRCodeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".View.activities.PlantActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".View.activities.EventActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".View.activities.PriceActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".View.activities.ContactActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".View.activities.RulesActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".View.activities.PlantDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".View.activities.NavigationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".View.activities.OpeningHoursActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".View.activities.SettingsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".View.activities.NeighbourhoodActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".View.activities.EventDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".View.activities.NewsDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".View.activities.AboutUsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".View.activities.PlantLocationMapActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>